* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: calc(256px + 80px);
    padding: 16px;

    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    border-radius: 5%;
    background-color: rgba(54, 39, 187, 0.877);
}

input {
    width: calc(256px + 48px);
    height: 64px;
    border: none;
}

button {
    background-color: rgb(137, 33, 255);
    border-radius: 15%;
    width: 64px;
    height: 64px;
    border: none;
}

input,
button {
    border-radius: 9px;
}
input{
    font-size: 32px;
}
.clear,
.equals {
    width: calc(125px + 16px);
}

.clear {
    background-color: rgb(188, 160, 255);
}

.equals {
    background-color: #8970f8;
}

.display {
    background-color: rgb(75, 92, 243);
}